// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500;600&family=Krona+One&display=swap');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

button[data-sharer] {
    color: #fff;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

strong {
    font-family: 'Archivo Narrow', sans-serif;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}
